@using SoftwareProject.Models.EntityFramework
@model Doctor
@{
    Layout = null;
}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="~/assets/css/styleee.css" rel="stylesheet" />
<link href="~/assets/css/styleee.min.css" rel="stylesheet" />
<link href="~/assets/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicon.png">
    <title>Nice admin Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link href="~/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="~/assets/css/styleee.css" rel="stylesheet" />
    <!-- Custom CSS -->
    @*@<link href="~/dist/css/style.min.css" rel="stylesheet">*@
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
       
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin5" >
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->

               
                            <div class="navbar-brand" >
                                <a href="index.html" class="logo">
                                    <!-- Logo icon -->
                                    <b class="logo-icon">
                                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                                        <!-- Dark Logo icon -->
                                        <img src="~/assets/img/Logo.png" style="margin-left:50px; height:150px; margin-top:-50px;" alt="homepage" />

                                        <!-- Light Logo icon -->

                                    </b>
                                    <br />
                                    <!--End Logo icon -->
                                    <!-- Logo text -->
                                 
                                </a>
                            </div>
                
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" style="text-decoration:none;">
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Doctor/DoctorIndex/@Model.Id" aria-expanded="false">
                                <i class="material-icons" style="text-decoration:none;">home</i>
                                <span class="hide-menu">Home</span>
                            </a>
                        </li>


                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Doctor/DoctorProfile/@Model.Id" aria-expanded="false">
                                <i class="material-icons" style="text-decoration:none;">person</i>
                                <span class="hide-menu">Profile</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                           
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Doctor/DoctorChat/@Model.Id" aria-expanded="false">
                                <i class="material-icons" style="text-decoration:none;">chat</i>
                                <span class="hide-menu">Chat Box</span>
                            </a>
                        </li>



                        <li class="sidebar-item">
                            @if (User.Identity.IsAuthenticated)
                            {


                                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Security/DoctorLogout" aria-expanded="false" >
                                    <i class="material-icons" style="text-decoration:none;">exit_to_app</i>


                                    <span class="hide-menu">Logout</span>
                                </a>
                            }
                        </li>

                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->

    <script src="~/assets/js/waves.js"></script>
    <!--Menu sidebar -->

    <script src="~/assets/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->

    <script src="~/assets/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="~/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="~/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>

    <script src="~/assets/js/dashboard1.js"></script>
    <div>
        @RenderBody()
    </div>
</body>


</html>
